.login-container {
  padding: 0.4rem;
  color: rgb(11, 11, 91);
}
.login-page-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media only screen and (max-width: 750px) {
  .login-page-container {
    flex-direction: column;
    align-items: center;
  }
  .login-container {
    width: 70%;
  }
}
@media only screen and (max-width: 400px) {
  .login-container {
    width: 95%;
  }
}
