<div class="contact">
  <h3>Contact Us</h3>
  <div class="details">
    <div><span>Email:</span><span>Tomayos1997@gmail.com</span></div>
    <hr />
    <div><span>Phone number:</span><span>0525416514</span></div>
    <hr />
    <div>
      <span>Linkedin:</span
      ><a href="https://www.linkedin.com/in/tom-amar-b2494a25a/" target="_blank"
        >Online Shop Linkedin</a
      >
    </div>
    <hr />
    <div>
      <span>Twitter:</span
      ><a href="https://twitter.com" target="_blank">Online Shop Twitter</a>
    </div>
  </div>
  <button class="btn btn-primary" (click)="close()">OK</button>
</div>
<div class="contact-bg-fixed" (click)="close()"></div>
