.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 1;
}
.modal-popup {
  color: rgb(27, 27, 133);
  position: fixed;
  top: 55vh;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 12rem;
  min-width: 22rem;
  overflow-y: scroll;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
  padding: 1rem;
}
.modal-left-side {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
h5 {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}
img {
  width: 10rem;
  height: 10rem;
}
.input-area {
  display: flex;
}
input {
  width: 8rem;
  padding: 0.2rem;
  text-align: center;
}

.plus,
.minus {
  margin-left: 0.5rem;
  padding: 0 0.4rem;
  background-color: none;
  border: 1px rgb(197, 199, 201) solid;
}
.minus {
  margin-right: 0.5rem;
  margin-left: 0;
}
.buttons-area button {
  font-size: 0.9rem;
  padding: 0.1rem 0;
  width: 3.9rem;
  margin: 0 0.3rem;
}

.choose-cart-modal{
  width: 100%;
}
@media only screen and (max-width: 650px) {
  .modal-popup{
    height: 12rem;
  }
  img{
    width: 8rem;
    height: 8rem;
  }

  .btn{
  padding: 0.2rem 0.5rem;
}
}
