.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .items-container{
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .items-container{
    padding: 0.2rem;
  }
}
