
.cart-container {
  width: 20rem;
  height: 78vh;
  box-shadow: rgba(0, 0, 0.1, 0.2) 7px 20px 50px;
  color: rgb(15, 15, 105);
  position: fixed;
  z-index: 2;
}

.cart {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 100%;
  width: 100%;
}
.cart-items-container {
  height: 85%;
}
.cart-items {
  overflow-y: scroll;
  height: 100%;
  padding: 0 0.3rem;
}
.cart-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  font-size: 1.2rem;
  font-weight: bold;
}
h5 {
  text-decoration: underline;
  margin-bottom: 2rem;
}
button {
  margin: 0.5rem;
}
.remove-all-btn {
  font-size: 0.9rem;
  color: rgb(187, 38, 38);
  font-weight: normal;
}
.remove-all-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(183, 183, 211);
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(225, 225, 236);
  border-radius: 5px;
}

.open {
  opacity: 1;
  width: 20rem;
  animation: cart-appear 0.8s ease-out;
}
.close {
  width: 0rem;
  opacity: 0;
  animation: cart-disappear 0.8s ease-in;
}

@media only screen and (max-width: 650px) {
  .cart-container {
    height: 72vh;
  }
  .cart-bg-fixed {
    width: 18rem;
  }

  .open {
    opacity: 1;
    width: 18rem;
    animation: cart-appear-small 0.8s ease-out;
  }
  .close {
    width: 0rem;
    opacity: 0;
    animation: cart-disappear-small 0.8s ease-in;
  }
  .btn{
    padding: 0.2rem 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .cart-bg-fixed {
    width: 100%;
  }

  .cart-container {
    width: 100%;
  }

  .open {
    opacity: 1;
    width: 100%;
    animation: cart-appear-phone 0.8s ease-out;
  }
  .close {
    width: 0rem;
    opacity: 0;
    animation: cart-disappear-phone 0.8s ease-in;
  }
}

@keyframes cart-appear {
  0% {
    width: 8rem;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    width: 20rem;
    opacity: 1;
  }
}

@keyframes cart-disappear {
  0% {
    opacity: 1;
    width: 20rem;
  }

  50% {
    opacity: 0;
  }

  100% {
    width: 8rem;
    opacity: 0;
  }
}

@keyframes cart-appear-small {
  0% {
    width: 8rem;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    width: 18rem;
    opacity: 1;
  }
}

@keyframes cart-disappear-small {
  0% {
    opacity: 1;
    width: 18rem;
  }

  50% {
    opacity: 0;
  }

  100% {
    width: 8rem;
    opacity: 0;
  }
}

@keyframes cart-appear-phone {
  0% {
    width: 8rem;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes cart-disappear-phone {
  0% {
    opacity: 1;
    width: 100%;
  }

  50% {
    opacity: 0;
  }

  100% {
    width: 8rem;
    opacity: 0;
  }
}
