.about-us-image{
  width: 100%;
}
h3{
  margin-bottom: 1.5rem;
}
img{
  margin-bottom: 1.5rem;
}
p{
  margin-bottom: 0;
}
@media only screen and (max-width: 950px) {
  h3{
    font-size: 1.3rem;
  }
  p{
    font-size: 0.9rem;
  }
}
